
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

</head>
<body>


    <header id="header" class="fixed-top header-transparent bg-dark">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-11 d-flex align-items-center">
                    <h1 class="logo mr-auto"><a href="index.html">Start kick</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="mr-4">
                                @Html.ActionLink("My Profile", "welcome", "user")
                            </li>
                            <li class="mr-4">
                                @Html.ActionLink("Add Book", "Add", "Home")
                            </li>
                            <li class="mr-4">
                                @Html.ActionLink("List Of Books", "CreateBook", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Logout", "logout", "user")
                            </li>

                        </ul>
                    </nav><!-- .nav-menu -->
                </div>
            </div>

        </div>
    </header><!-- End Header -->





    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">@ViewBag.title</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="mr-4">
                    @Html.ActionLink("My Profile", "welcome", "user")
                </li>
                <li class="mr-4">
                    @Html.ActionLink("Add Book", "Add", "Home")
                </li>
                <li class="mr-4">
                    @Html.ActionLink("List Of Books", "CreateBook", "Home")
                </li>
                <li>
                    @Html.ActionLink("Logout", "logout", "user")
                </li>


            </ul>
        </div>
    </nav>



    <div class="mt-5">
        @RenderBody()
    </div>
</body>
</html>
